@inject IJSRuntime JS 

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Database Configuration</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="databaseTechnology" class="form-label">Database Technology</label>
            <select id="databaseTechnology" class="form-select" aria-label="File Type" @bind="Item.ServerTechnology">
                <option selected>Select the Database Type</option>
                <option value="@Common.Configuration.DatabaseConfiguration.Postgres">PostgreSQL</option>
                <option value="@Common.Configuration.DatabaseConfiguration.SqlServer">Microsoft SQL Server</option>
                <option value="@Common.Configuration.DatabaseConfiguration.MySql">MySQL / MariaDB</option>
            </select>
            <div id="databaseTechnologyHelp" class="form-text">The type of database to connect to.</div>
        </div>
        <div class="col">
            <label for="connectionString" class="form-label">Connection String</label>
            <input type="text" class="form-control" id="connectionString" aria-describedby="filePathHelp" @bind="Item.ConnectionString" />
            <div id="connectionStringHelp" class="form-text">The connection string to use when connecting to the database.</div>
        </div>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Queries</h6>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CRON-Tab</th>
                <th scope="col">Query</th>
                <th scope="col" class="d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary align-right" @onclick="OnAddQuery">
                        <span class="oi oi-plus"></span> Add
                    </button>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var q in Item.Queries)
            {
                <tr>
                    <td class="align-middle">@q.Name</td>
                    <td class="align-middle font-monospace">@q.CronExpression</td>
                    <td class="align-middle font-monospace text-truncate">@q.Query</td>
                    <td class="d-md-flex justify-content-md-end">
                        <button type="button"
                                class="btn btn-outline-secondary btn-sm"
                                @onclick="@(e => OnEditClick(q))">
                            <span class="oi oi-pencil"></span>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-outline-danger btn-sm">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" id="addNewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>New Query</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="queryName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="queryName" @bind="tempQuery.Name" />
                        <div class="invalid-feedback">Name is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="cronExpression" class="form-label">CRON Expression</label>
                        <input type="text" class="form-control" id="cronExpression" @bind="tempQuery.CronExpression" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="queryValue" class="form-label">Query</label>
                        <Blace.Components.Editor @ref="Edit" T="Data.SqlEditorFile" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="OnDismissAdd">Cancel</button>
                <button type="button" class="btn btn-primary" @onclick="OnSaveAdd">Save</button>
            </div>
        </div>
    </div>
</div>
